<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <div class="ui container">
        <div class="about">
            <h1>About</h1>
        </div>
        <div>
            <p>Elon Reeve Musk FRS (/ˈiːlɒn/; born June 28, 1971) is an engineer, industrial designer, technology entrepreneur, and philanthropist.[2][3][4] He is a citizen of South Africa, the United States (where he has lived most of his life and currently resides), and Canada.[note 1] He is the founder, CEO and chief engineer/designer of SpaceX;[6] co-founder,[7] CEO and product architect of Tesla, Inc.;[8][9] founder of The Boring Company;[10] co-founder of Neuralink; and co-founder and initial co-chairman of OpenAI.[11] He was elected a Fellow of the Royal Society (FRS) in 2018.[12][13] In December 2016, he was ranked 21st on the Forbes list of The World's Most Powerful People,[14] and was ranked joint-first on the Forbes list of the Most Innovative Leaders of 2019.[15] As of May 2020, he has a net worth of $39.4 billion and is listed by Forbes as the 23rd-richest person in the world.[16][1] He is the longest tenured CEO of any automotive manufacturer globally.[17]</p>
        </div>
    </div>
</body>
</html>